.customize-control-ast-radio-tabs {
  margin-top: -15px;
  margin-left: -10px;
  margin-right: -10px;
  width: calc( 100% + 22px);
}
.customize-control-ast-radio-tabs .radio-tabs-wrapper {
  display: flex;
}
.customize-control-ast-radio-tabs label {
  flex: 1;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-right: 1px solid #dddddd;
  box-shadow: 0px 2px 1px #e2e2e2;
}
.customize-control-ast-radio-tabs label:last-child {
  border-right: none;
}
.customize-control-ast-radio-tabs label.activated,
.customize-control-ast-radio-tabs label:hover {
  background: #f2f2f2;
}

.customize-control-ast-radio-tabs input {
  display: none;
}

.customize-control-ast-radio-tabs input img {
  border: 1px solid transparent;
}

.customize-control-ast-radio-tabs input + label img {
  border: 1px solid #f1f1f1;
}

.customize-control-ast-radio-tabs input:checked + label img {
  -webkit-box-shadow: 0 0 3px 1px rgba(195, 195, 195, 0.5);
  box-shadow: 0 0 3px 1px rgba(195, 195, 195, 0.5);
  border: 1px solid transparent;
}

.customize-control-ast-radio-tabs .radio-tabs-wrapper .image-clickable {
  text-transform: capitalize;
  font-weight: 600;
}

/**
 * Hide only one tab.
 */
.radio-tabs-wrapper label:only-child {
    display: none;
}