/**
 *  Comment Form Styles
 *
 *  Content
 *  1 - Textarea Styles
 *  2 - Input Fields Styles
 *  3 - Submit Button Styles
 *  4 - Comment List Styles
*/

.comments-count-wrapper{
    padding: 4em 4em 1em 4em;
    .comments-title {
        font-weight: normal;
        word-wrap: break-word;
        font-size: 21px;
    }
}


.ast-comment-list {
    margin: 0;
    word-wrap: break-word;
    list-style: none;
    li {
        list-style: none;
    }
    .children {
        margin-left: 35px;
        @media (max-width: $mx-col-lg) {
            margin-left: 1em;
        }
        @media (max-width: $mx-col-sm) {
            margin-left: 0.66666em;
        }
    }
    .comment-respond{
        margin: 36px 0px 0px 0px;
        .comment-reply-title{
            margin-top:0;
            padding-top:0;
        }
    }
    #cancel-comment-reply-link{
        white-space: nowrap;
        margin-left: 1em;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .ast-comment-edit-reply-wrap{
        display:flex;
        justify-content: flex-end;
    }
    .ast-edit-link{
        flex: 1;
    }
    .comment-awaiting-moderation{
        margin-bottom: 0 ;
    }
}

.ast-comment {
    padding: 2.250em 0 0 0;
    border-top: 1px solid #eaeaea;
    position: relative;
    p {
        margin-bottom: 0em;
    }
}

.ast-reply-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 32px;
}

.ast-comment-edit-reply-wrap {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.ast-edit-link {
    position: absolute;
    top: 0;
    right: 65px;
    margin-top: 32px;
}

.ast-comment-avatar-wrap {
    float: left;
    clear: right;
    margin-right: 1.7em;
    @media (max-width: $mx-col-md) {
        margin-right: 0.5em;
    }

    img {
        border-radius: 50%;
        @media (max-width: $mx-col-md) {
            max-width: 2.5em;
        }
    }
}
.ast-comment-meta-wrap{
    float: left;
    clear: right;
    padding: 0 0 1.33333em;
}

.ast-comment-content{
    clear: both;
    margin-left: 6.5em;
}

.ast-comment-cite-wrap {
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 4px;
    cite {
        font-style: normal;

    }
    b {
        font-weight: 600;
    }
}

.comment-reply-title {
    padding-top: 1em;
    line-height: 1.65;
    margin-bottom: 10px;
    #cancel-comment-reply-link {
        float: right;
        text-transform: uppercase;
    }
}

.ast-comment-meta {
    margin-bottom: 0.5em;

}

.ast-comment-time {

    .timendate {
        font-size: 1em;
        margin-right: 0.5em;
    }
    .reply {
        margin-right: 0.5em;
    }
}

.ast-separate-container {
    .comments-area {
        background-color: $color-background-content;
    }    
}

.comments-area {
    border-top: 1px solid $color-border-content;
    margin-top: 20px;
    @media(max-width: $mx-col-md) {
        margin-top: 1.5em;
    }
    
    /*  1 - Textarea Styles */
    .comment-form-comment {
        width: 100%;
        border: none;
        margin: 0;
        padding: 0;
    }

    .comment-notes, 
    .comment-textarea, 
    .form-allowed-tags {
        margin-bottom: 1.5em;
    }

    .form-submit {
        margin-bottom: 0;
    }

    /*  2 - Input Fields Styles */
    textarea#comment,
    .ast-comment-formwrap input[type="text"] {
        width: 100%;
        border-radius: 0;
        vertical-align: middle;
        background-color: #ffffff;
    }

    /*  4 - Comment List Styles  */
    

    .no-comments {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    p.logged-in-as {
        margin-bottom: 1em;
    }

    /* Comment Cookie concent field aignment */
    #wp-comment-cookies-consent {
        margin-right: 10px;
    }
}

.ast-separate-container{
    .comments-count-wrapper{
        background-color: $color-background-content;
        padding: 4em 4em 1em 4em;
        @media (max-width: $mx-col-xl) {
            padding: 2em 3.34em;
        }
        @media (max-width: $mx-col-md) {
            padding: 2em 2.14em;
        }
        @media (max-width: $mx-col-sm) {
            padding: 1.5em 1em;
        }
    }
    .comments-area {
        border-top: 0;
    }
    .ast-comment-list{
        li{
            background-color: $color-background-content;
            &.depth-1{

                padding: 1.125em 4em;

                @media (max-width: $mx-col-xl) {
                    padding: 3em 3.34em;
                }
                @media (max-width: $mx-col-md) {
                    padding: 1.5em 2.14em;
                }

                @media (max-width: $mx-col-sm) {
                    padding: 1.5em 1em;
                    margin-bottom: 1.5em;
                }
                .ast-comment{
                    border-bottom: 0;
                }
                .children li {
                    padding-bottom: 0;
                    padding-top: 0;
                    margin-bottom: 0;
                    margin-top: 36px;
                }
            }
            &.depth-1 .ast-comment,
            &.depth-2 .ast-comment{
                border-bottom: 0;
            }
            &.depth-1:last-child {
                padding-bottom: 4em;
            }
        }
        
        .comment-respond{
            padding: 2.25em 0 0 0;
            background-color: transparent;
        }

        .pingback p{
            margin-bottom: 0;
        }
        .bypostauthor{
            padding: 2em;
            @media (max-width: $mx-col-sm) {
                padding: .5em;
            }

            .bypostauthor{
                background: transparent;
                margin-bottom: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-top: 0;
            }
            li{
                background: transparent;
                margin-bottom: 0;
                @media (max-width: $mx-col-sm) {
                    padding: 0 0 0 .5em;
                }
            }
            .children {
                .ast-comment {
                    margin: 2.250em 0 0 0;
                }
            } 
        }
    }
    .comment-respond{
        background-color: $color-background-content;
        border-bottom: 0;
        @media (max-width: $mx-col-xl) {
            padding: 3em 2.34em;
        }
        @media (max-width: $mx-col-md) {
            padding: 2em 2.14em;
        }

        @media (max-width: $mx-col-sm) {
            padding: 1.5em 1em;
        }
    }
    .comment-reply-title{
        padding-top:0;
    }
}

.ast-plain-container {
    .children {
        .ast-comment {
            margin: 2.250em 0 0 0;
        }
    }
    .depth-1 {
        padding: 1.125em 4em;
    }
    .comment-reply-title{
        padding-top:0;
    }
    .depth-1:last-child {
        padding-bottom: 4em;
    }
    .ast-comment-list {
        .comment-respond {
            padding: 2.25em 0 0 0;
        }
    }
}

.comment-respond {
    padding: 2.25em 0em 4em 0em;
    border-top: 1px solid #eaeaea;
    margin: 0em 4em 0em 4em;
}

.comment-form-textarea,
.comment-form-author,
.comment-form-email,
.comment-form-url {
    padding-right: 20px;
    padding-left: 20px;
}

.ast-page-builder-template{
  .comments-area{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.comment-form-textarea textarea,
.comment-form-author input[type="text"],
.comment-form-email input[type="text"],
.comment-form-url input[type="text"] {
    box-shadow: inset 0 2px 4px 0 rgba(195, 209, 218, 0.16);
    border-color: #ddd;
}

.comment-form-textarea textarea:focus,
.comment-form-author input[type="text"]:focus,
.comment-form-email input[type="text"]:focus,
.comment-form-url input[type="text"]:focus {
    border-color: #bbb;
    box-shadow: inset 0 2px 4px 0 rgba(195, 209, 218, 0.16);
    outline-width: 0;
}